@font-face {
  font-family: lemon-milk;
  src: url(LEMONMILK-Medium.otf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #afafaf;
  background-image: url(heart.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
}


.login-container {
  display: flex;
  position: absolute; 
  right: 0; 
  padding: 0% 300px;
  background-color: rgb(20, 20, 20);
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  font-size: 4rem;
  margin-bottom: 10px;
}

h4 {
  display: flex;
  align-items: center;
}

.login-titulo {
  font-family: lemon-milk;
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.sysshop {
  font-size: 4rem;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 20px;
}

h3 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
  width: 120%;
  max-width: none;
  box-sizing: border-box;
  margin-left: 0.5;
}


.imagem {
  display: block;
  width: 100%;
  max-width: 881px;
  height: auto;
}

.login-botao {
  cursor: pointer;
  background-color: #8c3f83;
  color: white;
  padding: 12px;
  border-radius: 20px;
  border: none;
  width: 100%;
  max-width: 350px;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 10%;
}

